h1 {
    text-align: center;
    color: rgb(17, 109, 52);
}

h3{ 
    text-align: center;
}

h5{
    text-align: center;
    color: rgb(6, 130, 41);
}

body{
    background-color: rgb(121, 186, 107);
    font-family: Georgia;
}

figure{
    text-align: center;
}

img{
    border-radius: 50%;
}

